# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven build directory
target/

# Gradle build directory
build/

# Compiled Python files
*.pyc

# Virtual environment
venv/

# Python cache
__pycache__/

# environment variables
.env

*.session